[tool.ruff]
select = ["E", "F", "I", "W", "UP"]
ignore = []
line-length = 88
target-version = "py311"

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"
